[worldserver]
###################################################################################################
#     ____    __                                         ____                           
#    /\  _`\ /\ \__                  __                 /\  _`\                         
#    \ \,\L\_\ \ ,_\  __  __     __ /\_\     __      ___\ \ \/\_\    ___   _ __    __   
#     \/_\__ \\ \ \/ /\ \/\ \  /'_ `\/\ \  /'__`\  /' _ `\ \ \/_/_  / __`\/\`'__\/'__`\ 
#       /\ \L\ \ \ \_\ \ \_\ \/\ \L\ \ \ \/\ \L\.\_/\ \/\ \ \ \L\ \/\ \L\ \ \ \//\  __/ 
#       \ `\____\ \__\\/`____ \ \____ \ \_\ \__/.\_\ \_\ \_\ \____/\ \____/\ \_\\ \____\
#        \/_____/\/__/ `/___/> \/___L\ \/_/\/__/\/_/\/_/\/_/\/___/  \/___/  \/_/ \/____/
#                         /\___/ /\____/                                                
#                         \/__/  \_/__/          http://stygianthebest.github.io                                         
###################################################################################################
#   TROLLOP NPC
###################################################################################################

# -------------------------------------------------------------------------------------
#  Announce the module when the player logs in?
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
Trollop.Announce = 1

# -------------------------------------------------------------------------------------
#  Over 18 Content Enabled?
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
Trollop.Over18Content = 0

# -------------------------------------------------------------------------------------
#  How often does the NPC emote in milliseconds?
#  Randomly caclulated within range 60000 (1 min, minumum) to 3000000 (5 minutes, max)
#  Default: 60000 (1 minutes, minimum)
#  Disable: 0
# -------------------------------------------------------------------------------------
Trollop.MessageTimer = 60000

# -------------------------------------------------------------------------------------
#  How many pharases does the NPC have? 
#  Default: 3
# -------------------------------------------------------------------------------------
Trollop.NumPhrases = 3

# -------------------------------------------------------------------------------------
#  NPC Phrases - Add your own!
#  Spoken randomly to the world
# -------------------------------------------------------------------------------------
TP.P1 = "Come see me.. Everyone needs someone."
TP.P2 = "I know the secrets of Kings.. and Queens."
TP.P3 = "Don't hate me because I'm beautiful."

# -------------------------------------------------------------------------------------
#  How many whispers does the NPC have?
#  Default: 3
# -------------------------------------------------------------------------------------
Trollop.NumWhispers = 3

# -------------------------------------------------------------------------------------
#  NPC Whisper Phrases - Add your own!
#  Whispered to the player after interaction
#  Use '%s%' to include the player's name
# -------------------------------------------------------------------------------------
TP.W1 = "Thanks for putting a little sugar in my bowl %s."
TP.W2 = "Thanks for being my little human sacrifice %s."
TP.W3 = "Do my kisses burn? Do they take your breath $s?"

# -------------------------------------------------------------------------------------
#  The spell cast to get the player's attention
#  Default: 44940
#  Disable: 0
# -------------------------------------------------------------------------------------
Trollop.EmoteSpell = 0

# -------------------------------------------------------------------------------------
#  A sound emote used by the NPC
#  Default: 9102
# -------------------------------------------------------------------------------------
Trollop.EmoteSound = 9102

# -------------------------------------------------------------------------------------
#  The gesture the NPC performs when speaking emote text
#  Default: 3 (Wave)
#  Disable: 0
# -------------------------------------------------------------------------------------
#  0  - NONE       
#  1  - TALK       
#  2  - BOW        
#  3  - WAVE       
#  4  - CHEER      
#  5  - EXCLAMATION
#  6  - QUESTION   
#  7  - EAT        
#  11 - LAUGH      
#  14 - RUDE       
#  15 - ROAR       
#  16 - KNEEL      
#  17 - KISS       
#  18 - CRY        
#  19 - CHICKEN    
#  20 - BEG        
#  21 - APPLAUD    
#  22 - SHOUT      
#  23 - FLEX       
#  24 - SHY        
#  25 - POINT      
# -------------------------------------------------------------------------------------  
Trollop.EmoteCommand = 3
