[worldserver]
###################################################################################################
#     ____    __                                         ____                           
#    /\  _`\ /\ \__                  __                 /\  _`\                         
#    \ \,\L\_\ \ ,_\  __  __     __ /\_\     __      ___\ \ \/\_\    ___   _ __    __   
#     \/_\__ \\ \ \/ /\ \/\ \  /'_ `\/\ \  /'__`\  /' _ `\ \ \/_/_  / __`\/\`'__\/'__`\ 
#       /\ \L\ \ \ \_\ \ \_\ \/\ \L\ \ \ \/\ \L\.\_/\ \/\ \ \ \L\ \/\ \L\ \ \ \//\  __/ 
#       \ `\____\ \__\\/`____ \ \____ \ \_\ \__/.\_\ \_\ \_\ \____/\ \____/\ \_\\ \____\
#        \/_____/\/__/ `/___/> \/___L\ \/_/\/__/\/_/\/_/\/_/\/___/  \/___/  \/_/ \/____/
#                         /\___/ /\____/                                                
#                         \/__/  \_/__/          http://stygianthebest.github.io                                         
###################################################################################################
#	CODEBOX NPC
###################################################################################################

# -------------------------------------------------------------------------------------
#  Announce the module when the player logs in?
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
Codebox.Announce = 1

# -------------------------------------------------------------------------------------
#  How often does the NPC emote in milliseconds?
#  Randomly caclulated within range 60000 (1 min, minumum) to 3000000 (5 minutes, max)
#  Default: 60000 (1 minutes, minimum)
#  Disable: 0
# -------------------------------------------------------------------------------------
Codebox.MessageTimer = 60000

